<%- include("header") %>
    <h1 style="color : rgb(255, 31, 31); padding-left: 9cm;">Contact me</h1>
    <p style="padding-left: 7cm;">
        email : oubayda56@gmail.com
        <br> phone : 0664166916
        <br> linkedin : /oubaydos
    </p>
    <%- include("footer") %>